body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: row;
}

#map {
  height: 100vh;
  width: calc(100vw - 30%);
  display: flex;
  padding: 0;
  margin: 0;
}

/* styling the sidebar */

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30%;
  left: 0;
  padding: 0;
  margin: 0;
}

/* menu inside the sidebar */

#menu {
  display: flex;
  padding: 1em;
  flex-direction: column;
}

#menu a {
  text-decoration: none;
  display: flex;
}

#menu a.active {
  color: red;
  display: flex;
}

/* content div inside the side bar */

#content {
  display: flex;
  padding: 1em;
}

/* popup content div */

div.mapboxgl-popup-content, #content div.contentCard{
  width: 30em;
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
}

.mapboxgl-popup-content img, #content div.contentCard img {
  height: auto;
  width: 100%;
}
 /* Styling the coordinates of draggable point */

.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

/* Submit form */
#usernote {
}

input {
    width: 100%;
    margin-top: 2em;
}

input[type=text] {
    width: 98%;
     height:20px;
}

input[type=submit] {
    width: 20%;
}