body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: row;
}

p {
/*  font-size: 1em;*/
}

#map {
  height: 100vh;
  width: calc(100vw - 37%);
  display: flex;
  padding: 0;
  margin: 0;
}

/* styling the sidebar */

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 37%;
  left: 0;
  padding: 0;
  margin: 0;
  background: black;
  color: white;
/*  border-right-style: solid;
  border-right-color: black;
  border-right-width: 100px;*/

}

/* menu inside the sidebar */

#menu {
  display: block;
  padding: 1em;
  flex-direction: column;
  margin-bottom: 1em;
  /* height: 35vh; */
  height: 45vh;
  overflow-y: auto;
}

#menu a {
  text-decoration: none;
  display: flex;
  color: white;
}

#menu a.active {
  color: #ff0;
  display: flex;
}

/* content div inside the side bar */

#content {
  display: flex;
  padding: 1em;
  height: 65vh;
}

/* popup content div */

div.mapboxgl-popup-content {
  font-size: 1.3em;    
  font-family: 'Work Sans', sans-serif;
  border-radius: none;
  padding: 1.5em;
}

div.mapboxgl-popup-content, #content div.contentCard{
  width: 30em;
  max-width: 70vw;
  max-height: 80vh;
  overflow-y: auto;
}

.mapboxgl-popup-content img, #content div.contentCard img {
  height: auto;
  width: 100%;
}
 /* Styling the coordinates of draggable point */

.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

/* Submit form */
#usernote {
}

textarea {
    width: 98%;
    height: 25em;
    resize: none;
/*    border: solid;
    border-width: thin;
    border-color: gainsboro;*/  
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;    
}

.submit {
    width: 30%;
    border: solid;
    border-width: thin;
    border-color: black;   
    border-radius: none;
    margin-top: 2em;
    font-size: 1em;    
}

#coordinates {
  /* visibility: hidden; */
}

.mapboxgl-sidebar-close-button {
    position: absolute;
    top: 45vh;
    left: calc(37% - 23px);
    color: white;
    background: black;
}
