body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: row;
  background: black;
  height: 100vh;
  line-height: 1.5em;
}

p {
/*  font-size: 1em;*/
}

#map {
  height: 100vh;
  width: calc(50vw - 18.5vw);
  display: flex;
  padding: 0;
  margin: 0;
}

/* styling the sidebar */

#sidebarleft {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 18.5%;
  left: 0;
  padding: 0;
  margin: 0;
  background: black;
  color: white;
/*  border-right-style: solid;
  border-right-color: black;
  border-right-width: 100px;*/

}

#sidebarright {
  display: flex;
  width: 25vw;
  right: 25vw;
  height: 100vh;
  margin: 0;
  background: black;
  color: white;
  flex-direction: column;
}

/* left sidebar */

#menu {
  display: block;
  padding: 1em;
  flex-direction: column;
  /* height: 35vh; */
  height: 100vh;
  overflow-y: auto;
}

#menu a {
  text-decoration: none;
  display: flex;
  color: white;
}

#menu a.active {
  color: #ff0;
  display: flex;
}

/* right side bar */

#content {
  display: flex;
  padding-left: 2em;
  height: 70vh;
  margin-bottom: 2em;
  padding-top: 2em;
  overflow-y: auto;
}

#legend {
  display: flex;
  padding-left: 2em;
  height: 30vh;
  overflow-y: auto;
}

/* popup content div */

div.mapboxgl-popup-content {
  font-size: 1.3em;
  font-family: 'Work Sans', sans-serif;
  border-radius: none;
  padding: 1.5em;
}

div.mapboxgl-popup-content, #content div.contentCard{
  width: 20em;
  max-width: 70vw;
  max-height: 80vh;
  overflow-y: auto;
}

.mapboxgl-popup-content img, #content div.contentCard img {
  height: auto;
  width: 100%;
}
 /* Styling the coordinates of draggable point */

.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

/* Submit form */
#usernote {
}

textarea {
    width: 98%;
    height: 25em;
    resize: none;
/*    border: solid;
    border-width: thin;
    border-color: gainsboro;*/
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
}

.submit {
    width: 30%;
    border: solid;
    border-width: thin;
    border-color: black;
    border-radius: none;
    margin-top: 2em;
    font-size: 1em;
}

#coordinates {
  /* visibility: hidden; */
}

.mapboxgl-sidebar-close-button {
    position: relative;
    top: 20px;
    right: 20px;
    float: right;
    color: white;
    background: none;
    border: none;
    cursor: pointer !important;
    user-select: none;
    outline: none !important;
}



/* Styling for legends */

.contentCard ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contentCard li {
  padding-left: 1em;
  text-indent: -.7em;
}

.contentCard li::before {
  content: "•";
  font-size: 3em;
  position: relative;
  bottom:   -0.22em;
  line-height: 0.1em;
  padding-right: 7px;
}

.contentCard li:nth-of-type(1n)::before {
  color: green
}

.contentCard li:nth-of-type(2n)::before {
  color: brown
}

.contentCard li:nth-of-type(3n)::before {
  color: blue
}

.contentCard li:nth-of-type(4n)::before {
  color: orange
}

.contentCard li:nth-of-type(5n)::before {
  color: yellow
}

.contentCard li:nth-of-type(6n)::before {
  color: purple
}
